.fill {
  background: $c-secondary;
  color: $c-primary;
  padding: 18px 62px;
  font-size: $fs-md;
  border-radius: $br-full;
  font-weight: bold;
  transition-duration: $td-main;
  text-align: center;

  &:hover {
    transition-duration: $td-main;
    opacity: 0.9;
  }
}

.empty {
  background: none;
  color: $c-secondary;
  font-size: $fs-md;
  font-weight: bold;
  text-align: center;
  line-height: 1.7;
  transition-duration: $td-main;

  &:hover {
    transition-duration: $td-main;
    text-decoration: underline;
  }
}
