.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter {
  margin-bottom: $m-12;
  width: 100px;
  height: 100px;
}

.inf {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $m-10;
}

.title {
  font-size: $fs-3xl;
  font-weight: 600;

  @media (max-width: 760px) {
    font-size: $fs-2xl;
  }
}

.btn {
  width: 100%;
  font-size: $fs-lg;

  @media (max-width: 760px) {
    font-size: $fs-md;
    font-weight: 600;
    padding: $m-5 0;
  }
}
