.form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $m-4;
}

.btn {
  font-size: $fs-lg;
}

.error {
  color: $c-red;
  font-size: $fs-sm;
  margin-top: $m-2;
  text-align: center;
}
