.form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $m-4;
}

.btn {
  font-size: $fs-lg;

  @media (max-width: 760px) {
    font-size: $fs-md;
    padding: $m-5 0;
  }
}

.ofert {
  font-size: $fs-md;
  font-weight: 600;
  text-align: center;
  & > span {
    color: $c-secondary;
  }
}

.promo {
  padding: $m-4 0;
}
