.large-header-text {
  font-size: $fs-5xl;
  font-weight: 600;
  line-height: 1.35;

  @media (max-width: 760px) {
    font-size: $fs-4xl;
  }
}

.small-sub-text {
  font-size: $fs-lg;
  color: #999999;
  line-height: 1.7;

  @media (max-width: 760px) {
    font-size: $fs-md;
  }
}

.text-center {
  text-align: center;
}

.error-text {
  color: $c-red;
  font-size: $fs-sm;
  margin-top: $m-2;
  text-align: center;
}
