// Шрифт
$main-font: "Open Sans";

// Размер шрифта
$fs-2xs: 6px;
$fs-xs: 8px;
$fs-sm: 12px;
$fs-sm-2: 13px;
$fs-md: 14px;
$fs-lg: 16px;
$fs-xl: 18px;
$fs-2xl: 24px;
$fs-3xl: 32px;
$fs-4xl: 40px;
$fs-5xl: 56px;

// Цвета
$c-primary: #ffffff;
$c-secondary: #4e74f5;
$c-red: #f90043;
$c-f-primary: #000000;

// Закругления
$br-full: 1000px;

// Время анимации
$td-main: 0.3s;

// Отступы:
$m-1: 4px;
$m-2: 8px;
$m-3: 12px;
$m-4: 16px;
$m-5: 20px;
$m-6: 24px;
$m-7: 28px;
$m-8: 32px;

//Границы
$b-gray: 1px solid #e6e6e6;

//Радиусы
$r-3: 12px;
