.header {
  position: sticky;
  background-color: $c-primary;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;

  @media (max-width: 760px) {
    height: 60px;
  }
}

.logo {
  width: 142px;

  @media (max-width: 760px) {
    width: 112px;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: $m-6;
}
